<div class="chat">
  <div class="upper-chat">
    <div class="chat-user">
      <%= message.user.name %>
    </div>
    <div class="chat-date">
      <%= message.created_at %>
    </div>
  </div>
  <div class="lower-chat">
    <div class="chat-content">
      <%= message.content %>
    </div>
  </div>
</div>